
<div class="container" id="landing-page">
  <div class="jumbotron">
    <div class="container">
      <h1>Bangor Bikes</h1>
      <p>Start Your Adventure Today</p>
      <p><%= link_to "Shop Bikes", products_path,
          :class => "btn btn-primary btn-lg" %></p>
    </div>
  </div>
  
  
  
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  
  
  
  <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @products.each do |product| %>
      <div class="item<%= " active" if product == @products.first %>">
          <div class="col-sm-12" id="carousel-caption-mobile">
            <h3><%= product.name %></h3>
            <br>

          </div>
        <div class="container">

          <div class="carousel-image">
            <%= image_tag(product.image_url,  width: "300", alt: "Bike Image", class: "img-responsive") %>
          </div>
          <div id="carousel-caption-mobile-button">
            <p><%= link_to 'Buy Now', product, :class => "btn btn-primary btn-lg center-block" %></p>
          </div>
            
         <div class="carousel-caption" id="carousel-caption-fullscreen">
            <h3><%= product.name %></h3>
            <br>
            <p><%= link_to 'Buy Now', product,
          :class => "btn btn-primary btn-lg center-block" %></p>
          </div>
        </div>
       </div>
      <% end %>
    </div>
  
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container" id="homebikes">
    <h1>Featured Bikes</h1>
    <div class="row">
      <%= render @products %>
    </div>    
  </div>

</div>

<!-- Params here -->

<%= params[:example_key] %>