<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">

  	<div class="row" id="producto">
      <% cache product do %>
  		<div class="col-md-12" id="titleo">
    <h3><%= link_to product.name, product %></h3>
    	</div>
    	<div class="col-md-12" id="imago">

        <%= link_to product do %>
          <%= image_tag(product.image_url, width: "250", alt: "Bike Image", class: "img-responsive") %>
        <% end %>

    	</div>
        <div class="col-md-12" id="ratingo">
         <div class="rated" data-score="<%= product.average_rating %>"></div> 
        </div>
      <div class="col-md-12" id="descripto">
        <p><a class="product-description"><%= raw product.description %></a><%= link_to 'Read More', product %></p>
      </div>
      <% end %>    
      <div class="col-md-12" id="coloro">
  <p><%= link_to 'Buy Now', product, :class => "btn btn-primary btn-lg" %></p>
      </div>

      <div class="col-md-12" id="admin-panel"> 
        <% if signed_in? && current_user.admin? %>
          <%= link_to 'Show', product,
              :class => "btn btn-xs btn-info" %>
          <%= link_to 'Edit', edit_product_path(product),
            :class => "btn btn-xs btn-warning" %> 
          <%= link_to 'Delete', product, 
            method: :delete, 
            data: { confirm: 'Are you sure?'},
            :class => "btn btn-xs btn-danger"  %>
        <% end %>
      </div>
      
    </div><!-- /row -->

</div><!-- /col -->