<p id="notice"><%= notice %></p>


<div class="container-fluid">
<h1>Products</h1>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3><%= product.name %></h3>
        <%= image_tag(product.image_url,  width: "200", alt: "Bike Image", class: "img-responsive") %>
        <p><%= product.description %></p>
        <p><%= product.color %></p>
                <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div><!-- /col -->
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
