<div class="container" id="productshow">
  <p id="notice"><%= notice %></p>


  <div class="row" id="productfull">
    <div class="col-md-8">
      <h3><%= @product.name %></h3>
      <p><%= @product.description %></p>
      <p>Color: <%= @product.color %></p>
       <% @product.highest_rating_comment %>
      
      <p><%= link_to products_path  do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
      <% end %>Back</p>
    </div>
    <div class="col-md-4" id="imago">
      <%= image_tag(@product.image_url, alt: "Bike Image", class: "img-responsive") %>
      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      <%= render :partial => '/products/comments' %>  
      <%= render :partial => '/products/new_comment' %>
    </div>
  </div><!-- /row -->
  <div class="row">
   
  </div>
</div><!-- /container -->