<div class="container" id="productshow">
  <p id="notice"><%= notice %></p>


  <div class="row" id="productfull">

    <div class="col-md-4" id="imago">
  <%= image_tag(@product.image_url, alt: "Bike Image", class: "img-responsive") %>
    </div>
    <div class="col-md-8">
        <h3><%= @product.name %></h3>
        <p><%= @product.description %></p>
        <p>Color: <%= @product.color %></p>
    </div>
  </div><!-- /row -->
<%= link_to 'Back', products_path %>
</div><!-- /container -->