<!DOCTYPE html>
<html>
  <head>
    <title>Bangor Bikes</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="#">Bangor Bikes</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
      </div>
      <div class="search" id="search1">
        <%= form_tag(products_path, method: "get", role:"search") do %>
          
          <%= text_field_tag(:q, nil, class: "search-control", placeholder: "Search Bikes...") %>
          <%= image_submit_tag("search_icon.png", class: "img_responsive nav-search-icon")%>
        <% end %>
      </div>
      <div id="nav-bs" class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", static_pages_landing_page_path %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bikes <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Performance", products_path %>
              </li>
              <li><%= link_to "Trail", products_path %>
              </li>
              <li><%= link_to "Commuter", products_path %>
              </li>
              <li><%= link_to "Recreation", products_path %>
              </li>
              <li role="separator" class="divider">
              </li>
              <li><%= link_to "All Bikes", products_path %>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gear <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Gloves", products_path %>
              </li>
              <li><%= link_to "Helmets", products_path %>
              </li>
              <li><%= link_to "Jackets & Vests", products_path %>
              </li>
              <li><%= link_to "Shoes", products_path %>
              </li>
              <li><%= link_to "Legwear", products_path %>
              </li>
              <li><%= link_to "Commuterwear", products_path %>
              </li>
              <li><%= link_to "Bike Lights", products_path %>
              </li>
              <li role="separator" class="divider">
              </li>
              <li><%= link_to "All Gear", products_path %>
              </li>
            </ul>
          </li>
          <li><%= link_to "About", static_pages_about_path %>
          </li>
          <li><%= link_to "Contact", static_pages_contact_path %>
          </li>
          <li>
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path) %>
            <% end %>
          </li>
          <% if signed_in? && current_user.admin? %>
            <li><%= link_to "Admin", users_path %></li>
          <% end %>
          <div class="search" id="search2">
            <%= form_tag(products_path, method: "get", role:"search") do %>
              
              <%= text_field_tag(:q, nil, class: "search-control", placeholder: "Search Bikes...") %>
              <%= image_submit_tag("search_icon.png", class: "img_responsive nav-search-icon")%>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </nav>
       
<% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
  <p id="notice" class="alert alert-danger"><%= alert %></p>
<% end %>

       




    






<!-- Yield -->
          <%= yield %>
<!-- End Yield -->





    
    <footer class="footer">
      <div class="container">
        <p>&copy; 2016 Bangor Bikes</p>
      </div>
    </footer>
  </body>
</html>
